<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Edit</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container text-center">

    <h1>Edit Post</h1>
    <form class="form-group" method="post" th:action="@{|/post/edit/${post.id}|}">

        <label for="editPost">Title</label>
        <input class="form-control" id="editPost" name="title" type="text" th:value="${post.title}">

        <label for="editPost">Description</label>
        <input class="form-control" id="editPostD" name="description" type="text" th:value="${post.description}"> <br>

        <button class="btn btn-secondary btn-lg btn-block" type="submit">Update</button>
    </form>

</div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>