<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Edit</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container text-center">

    <h1>Edit Post</h1>
    <form class="form-group" th:method="post" th:action="@{|/post/edit/${post.id}|}" th:object="${post}">

        <label for="editPost">Title</label>
        <input class="form-control" id="editPost" th:field="*{title}" type="text">

        <label for="editPost">Description</label>
        <input class="form-control" id="editPostD" th:field="*{description}" type="text"> <br>

        <button class="btn btn-secondary btn-lg btn-block" type="submit">Update</button>
    </form>

</div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>