<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<div class="container">
    <h1>Roll The Dice</h1>
    <h2>Guess what the roll will be:</h2>
</div>

<div>

    <div th:if="${userGuess == null}">
        <a href="/roll-dice/1">1</a>
        <a href="/roll-dice/2">2</a>
        <a href="/roll-dice/3">3</a>
        <a href="/roll-dice/4">4</a>
        <a href="/roll-dice/5">5</a>
        <a href="/roll-dice/6">6</a>
    </div>


    <div th:if="${userGuess != null}">
        <h3>Your guess was: <span th:text="${userGuess}"></span></h3>
        <h3>Number Rolled: <span th:text="${diceRoll}"></span></h3>
        <h2 th:if="${isCorrect}">Excellent! You guessed correctly!</h2>
        <h2 th:if="${!isCorrect}">Sorry, try again.</h2>
        <a href="/roll-dice">Try again!</a>
    </div>

</div>
</body>
</html>